<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!--

    You must customize the following placeholders:
    Use always full hard paths most plist keys do not support enviroment vars such as ~, $HOME or ... 

- LOGIN.LOGOUT.SERVICE 	: If you don't know, leave it as is
- USERS_DIR				: Current Users $HOME dir. example /Users/me/
- SCRIPT_DIR 			: Script path into $HOME/Library/Scripts example /Users/me/Library/Scripts

-->

<key>Label</key>
<string>LOGIN.LOGOUT.SERVICE</string>

<key>ProgramArguments</key>
<array>
	<string>SCRIPT_DIR/login-logout.sh</string>
</array>

<!--
set RunAtLoad false if you don't want that script starts 
automatically every time that the user logs in.
-->
<key>RunAtLoad</key>
<true/>

<key>StandardOutPath</key>
<string>USERS_DIR/Library/Logs/login-logout.log</string>

<key>StandardErrorPath</key>
<string>USERS_DIR/Library/Logs/login-logout.err</string>

<key>ExitTimeOut</key>
<integer>600</integer>

</dict>
</plist>

